html {
    font-family: Lato, Helvetica, sans-serif;
}

p {
    color: green;
    font-weight: bold;
}

p.outer {
    color: #5e6cea;  /*blue*/
    font-weight: bold;
}

.radioselect {
    color: #ee7e89; /*salmon pink*/
    font-weight: bold;
}

p.inner {
    color: #ea965e;  /*sherbert orange*/
    font-weight: bold;
    font-style: italic;
}

footer {
    color: grey;
    font-weight: lighter;
    font-size: 85%;
}

.button {
    background-color: #bbb04b;
    border: black;
    color: #5e6cea;
    font-weight: bold;
    border-width: 2px;
}