<!DOCTYPE html>
<html>
<head>
    {% extends 'base.html' %}
    <title>Game</title>
    }
</head>
<body>
    {% block content %}
<form action="/madlib">
    Please input your choice of: <br>
    Color: <input type="text" name="color"><br>
    Person: <input type="text" name="person"><br>
    Noun: <input type="text" name="noun"><br>
    Adjective: <input type="text" name="adjective"><br>
    Verb: <select name="verb">
        <option value="sitting">Sitting</option>
        <option value="roller skating">Roller Skating</option>
        <option value="floating">Floating</option>
        </select><br><br>
    Surpise Me <br><input type="checkbox" name="surprise" value="checked">Yes please<br><br>
    <input type="submit">
</form>
{% endblock %}
</body>
</html>